.grid-container{
    display: grid;
    grid-template-areas: 
    "logo logo main main main main main main"
    "logo logo home home home"
    "logo logo header1 header2 header3 header4 header 5 header6 "
    "navigation navigation content content content content content content"
    "whitespace whitespace content content content content content content"
    "whitespace whitespace footer footer footer footer footer footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 100vh;
}
.content{
    grid-area: main;
    background-color: #ffffff;
    padding: 1rem;
}
.whitespace{
    grid-area: footer-left;
    padding: 0;
    background-color: azure;
}
.footer{
    grid-area: footer;
    background-color: green;
    color: black;
    text-align: center;
    padding: 1rem;
}
.header{
    grid-area: header;
    background-color: green;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}